body {
    background-color: rgb(255, 253, 253);
    margin: 0px;

    /* box-sizing: border-box; */
}

nav {
    position: fixed;
    background-color: black;
    top: 0%;
    left: 0%;
    right: 0%;
    width: 100%;
    height: 98px;
    line-height: 132px;
    padding: 20px 0px 0px 20px;
    z-index: 2;

}

div.logo {
    position: absolute;
    margin: 0px 0px;
    padding: 0px;
    float: left;
}

.logo img {
    transition: 0.4s ease-in-out;
}

.logo img:hover {
    transform: scale(1.2);
}

.headname img {
    margin-left: 100px;
    margin-right: 0px;
    margin-top: 15px;
    margin-bottom: 12px;

}


.head-gly {
    position: absolute;
    top: 220px;
    left: 30px;
    font-family: tahoma;
    font-size: xx-large;
    text-transform: uppercase;

    color: rgb(20, 19, 19);
    padding: 10px;

}

.tit-image img {
    position: absolute;
    width: 100%;
    top: 80px;
    right: 0px;


}

.gallery {
    position: relative;
}

.gallery h1 {

    text-align: center;
    padding-top: 20px;

    font-family: sans-serif;
    margin-top: 700px;

}

.gallery h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 10px;
    color: rgb(158, 162, 166);
    font-family: sans-serif;
    font-size: large;
    text-transform: capitalize;
    text-align: center;

}

.image-book {

    display: flex;
    position: relative;
    top: 25px;
    margin top: 100px;
    flex-direction: column;

}

.section {
    display: flex;
    flex: 33.33%;
    position: relative;




}

.image-book img {
    position: relative;
    width: 33%;
    padding: 2px;
    transition: 0.6s ease-in-out;

}



/* Image_Hover_Effect */
/* .section img:hover{ */
/* transform: scale(1.05); */
/* border: 5px solid white; */
/* background-color: white; */

/* } */

.unorder-list {
    display: inline-flex;
    /* flex-wrap: nowrap; */
    position: absolute;
    padding-left: 5px;
    right: 20px;
    top: -30px;

}

.unorder-list li,
a {
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-family: sans-serif;
    color: red;
    margin-right: 20px;
    padding: 10px 0px;

}

.unorder-list a {
    transition: 0.2s ease-in-out;

}

.unorder-list li a:hover {
    transform: scale(1.2);
    font-weight: bold;
    color: bisque;
    text-decoration: none;
    border-bottom: 1px solid red;

}

.head-gly h1 {
    color: rgb(73, 70, 70);
    transition: 0.6s ease-in-out;

}

.head-gly h1:hover {
    transform: scale(1.2);
    color: rgb(243, 243, 244);
    top: 30px;

}

/* FOOTER STYLE */

.row-footer {
    display: flex;
    background-color: aquamarine;
    align-items:flex-end;
    justify-content: space-around;


}

.container {
    background-color: rgb(0, 0, 0);
    margin-top: 80px;
    margin-left: 0px;
    margin-bottom: 0px;



}

.footer-col a {
    color: rgb(142, 142, 143);
    width: 50px;
    margin-left: 0px;
    padding-left: 0px;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s ease;
}

.footer-col a:hover {
    color: rgb(196, 144, 144);
    padding-left: 10px;
}

.footer-col ul {
    list-style: none;
    padding-left: 0px;
}

.footer-col li {
    padding-bottom: 15px;
    color: rgb(255, 255, 255);
}

.footer-col h4 {
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.footer-col h5 {
    color: rgb(167, 157, 157);
    margin-left: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.footer-col .vk-logo {

    margin-left: 30px;
}

.footer-col {
    margin-left: 20px;
    padding-right: 40px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer-col i {
    font-size: x-large;
    margin-top: 2px;
    margin-right: 10px;
    color: rgb(229, 4, 4);
}

.row {
    display: flex;
    float: inline-end;
    flex-wrap: wrap;
    padding: 20px 0px;
}

.copy-right {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    text-transform: capitalize;
    color: rgb(79, 78, 78);
    padding: 0px;
    background-color: rgb(12, 12, 12);

}

@media (max-width:600px) {

    .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}